.main{
  background-color: #061127;
  width: 1280px;
}

.title{
  background: -webkit-linear-gradient(180deg, rgba(223,242,0,1) 22%, rgba(252,255,68,1) 61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
}

h1{
  color: white;
  font-size: 35px;
}

.flow{
  display: flex;
  flex-direction: row;
}

.chinaimg{
  background: url(https://raw.githubusercontent.com/isitusnoamow/CultureTrain-Images/main/train.png);
  width: 426px;
  height: 720px;
}

.chinatitle{
  color: #002B7E;
  font-size: 70px;
}

.china:hover .chinatitle{
  color: red;
}

.china:hover #china1{
  color: yellow;
}

.china:hover .chinaimg{
  background: url(https://raw.githubusercontent.com/isitusnoamow/CultureTrain-Images/main/trainon.png);
}

.japanimg{
  background: url(https://raw.githubusercontent.com/isitusnoamow/CultureTrain-Images/main/train.png);
  width: 426px;
  height: 720px;
}

.japantitle{
  color: #002B7E;
  font-size: 70px;
}

.japan:hover .japantitle{
  color: white;
}

.japan:hover #japan1{
  color: red;
}

.japan:hover .japanimg{
  background: url(https://raw.githubusercontent.com/isitusnoamow/CultureTrain-Images/main/trainon.png);
}

.usaimg{
  background: url(https://raw.githubusercontent.com/isitusnoamow/CultureTrain-Images/main/train.png);
  width: 426px;
  height: 720px;
}

.usatitle{
  color: #002B7E;
  font-size: 70px;
}

.usa:hover .usatitle{
  color: blue;
}

.usa:hover #usa1{
  color: red;
}

.usa:hover #usa2{
  color: white;
}

.usa:hover .usaimg{
  background: url(https://raw.githubusercontent.com/isitusnoamow/CultureTrain-Images/main/trainon.png);
}

a{
  text-decoration: none;
}

